@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300,800&family=Lora:ital@1&family=Ubuntu:wght@300,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


/* header section .........................................  */
/* typography ............... */
.logo{
    color: black;
    font-size: 1.2rem;
}

#nav_list a{
    color:rgb(85, 81, 81);
    font-size: 0.89rem;
}

/* navigation bar  */
header {
    padding: 1.7em;
    /* height: 6em; */
    /* border: 2px solid black; */
}

.nav-container{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    text-decoration: none;
}

#nav_list{
    list-style: none;
}

#nav_list li{
    display: inline;
    margin-left: 1.5em;
}

#nav_list a:hover{
    color: rgb(185, 184, 184);
}
/* header ends ..................................... */



/*   Home section .................................... */

/* typography  */
.h-primary{
    font-size: 2.5rem;
    font-weight: 800;
    color: #3a3a47;
}

.h-secondary{
    color: #5c5c5c;
    font-size: 1rem;
}

#home {
    /* height: 80vh; */
    border: 2px solid #f0f5f9;
    background-color: #f0f5f9;
}

.main-body{
    color: #818198;
    font-size: 1rem;
}

main{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.75em;
}

.main-img{
    width: 50%;
    display: block;
}

.h-secondary{
    order: 0;
    margin-bottom: 0.5em;
}

.h-primary{
    order: 1;
    margin-bottom: 0.35em;
}

.main-body{
    order: 3;
}

.main-btn-container{
    order: 2;
    margin-bottom: 1em;
}
/* home section ends ..............................  */



/* next section  ................................*/
.content-title{
    margin: 0.3em 0.5em 0.5em 0;
}

.next-content{
    display: flex;
    flex-direction: column;
    background-color: 2px solid black;
}

.content-image{
    width: 28%;
}

.content{
    background-color: aliceblue;
    padding: 2em;
    margin: 2em;
}

#content-1{
    background-color: #fff2e5;
}
#content-2{
    background-color: #f8f9fa;
}
#content-3{
    background-color: #f0f5f9;
}

/* next-section ends ..........................  */



/* features section ............  */
#features ul {
    list-style: none;
}


.features {
    background-color: #f0f5f9;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 2em;
}

.feature-image {
    width: 80%;
    display: block;
    margin: auto;
}

.feature-main {
    text-align: center;
}

.features li {
    margin: 1em;
}

.features-title {
    margin: 0.5em
}
/* features section ends here ............ */




/* utility classes  */
.btn {
    background: transparent;
    padding: 0.7em 1.2em;
    border-radius: 0.4em;
    font-weight: bolder;
    transition: backgroud-color 0.4s ease-in, color 0.4s ease-out;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(15, 213, 15);
    color: white;
    border-color: rgb(15, 213, 15);
}

.bold {
    font-weight: bold;
}

.flex-container {
    /* margin: auto; */
    margin: 6em auto;
    max-width: 80%;
    /* border: 2px solid black; */
    display: flex;
}

.green {
    color: #21bf73;
}
/* utility classes end ...............  */



/* medai queries  */

/* navbar media query  */
@media (max-width:845px){
    .nav-container{
        flex-direction: column;
    }
    #nav_list{
        margin: 0.5em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #nav_list li{
        margin: 1em;
    }
}


/* homesection media query  */
@media (max-width:845px){
    .flex-container{
        flex-direction: column;
    }
    main{
        /* border: 2px solid black; */
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .main-img{
        order: 0;
        margin: auto;
        width: 100%;
    }
    main{
        order: 1;
    }
}




/* media query for next section  */
@media (min-width : 846px){
    .flex-container-next{
        flex-direction: column;
    }
    .next-content{
        flex-direction: row;
    }
}


/* media query for features section  */
@media (min-width : 846px) {
    .flex-container-column {
        flex-direction: column;
    }

    .next-content {
        flex-direction: row;
    }

    .features {
        flex-direction: row;
        align-items: center;
    }

    .feature-image {
        width: 40%;
        margin: 0;
    }

    .feature-main {
        width: 60%;
    }

    #feature-1 {
        flex-direction: row-reverse;
    }
}